### 1. 리스트

In [1]:
numbers =[1,2,3,4,5]
numbers.index(5)

4

In [3]:
numbers =[1,2,3,4,5,6,3]
numbers.index(3,3)

6

In [4]:
len(numbers)

7

In [6]:
numbers.reverse()
numbers

[1, 2, 3, 4, 5, 6, 3]

In [7]:
numbers.sort()
numbers

[1, 2, 3, 3, 4, 5, 6]

In [8]:
numbers.reverse()
numbers

[6, 5, 4, 3, 3, 2, 1]

### 2. 주석
- 한줄주석 : #
- 여러줄주석 : ''' or """

In [9]:
#set 방식
fruits = {"apple","banana","mango"}
for idx, value in enumerate(fruits):
    print("{}-{}".format(idx,value))

0-apple
1-mango
2-banana

In [10]:
fruits = ["apple","banana","mango"]
for idx, value in enumerate(fruits):
    print("{}-{}".format(idx,value))

0-apple
1-banana
2-mango

In [12]:
# map 방식
fruits = {"a":"apple","b":"banana","m":"mango"}
for idx, value in enumerate(fruits.items()):
    print("{}-{}".format(idx,value))

0-('a', 'apple')
1-('b', 'banana')
2-('m', 'mango')

### 3. 함수

1. 함수 정의

In [17]:
def add (x,y):
    """ 함수의 첫 라인에 독스트링을 포함시킬 수 있다 """
    sum = x + y
    return sum

2. 함수 호출

In [16]:
add(10,20)

30

#### 문제
1. 1~10까지의 정수가 있다. 홀수의 합과 짝수의 합을 구하시오

In [18]:
list = [1,2,3,4,5,6,7,8,9,10]
sumOfEven, sumOfOdd = 0, 0
for ele in list:
    if ele % 2 == 0 :
        sumOfEven += ele
    else :
        sumOfOdd += ele
print('홀수합={},짝수합={}'.format(sumOfEven,sumOfOdd))

홀수합=30,짝수합=25

In [19]:
sumOfEven

30

In [21]:
sumOfEven , sumOfOdd = 0,0
for ele in range(1,10):
    if ele % 2 == 0 :
        sumOfEven += ele
    else :
        sumOfOdd += ele
print('홀수합={},짝수합={}'.format(sumOfEven,sumOfOdd))
# 10을 포함하지 않음

홀수합=20,짝수합=25

In [22]:
sumOfEven , sumOfOdd = 0,0
for ele in range(1,10+1):
    if ele % 2 == 0 :
        sumOfEven += ele
    else :
        sumOfOdd += ele
print('홀수합={},짝수합={}'.format(sumOfEven,sumOfOdd))

홀수합=30,짝수합=25

In [23]:
list = (1,2,3,4,5,6,7,8,9,10)
sumOfEven , sumOfOdd = 0,0
for ele in list:
    if ele % 2 == 0 :
        sumOfEven += ele
    else :
        sumOfOdd += ele
print('홀수합={},짝수합={}'.format(sumOfEven,sumOfOdd))

홀수합=30,짝수합=25

In [24]:
list = {1,2,3,4,5,6,7,8,9,10}
sumOfEven , sumOfOdd = 0,0
for ele in list:
    if ele % 2 == 0 :
        sumOfEven += ele
    else :
        sumOfOdd += ele
print('홀수합={},짝수합={}'.format(sumOfEven,sumOfOdd))

홀수합=30,짝수합=25

2. 1~10까지의 정수를 랜덤하게 리스트로 추출하고 이 중 최대값을 구하시오

In [28]:
import random
random.sample(range(1,10),2)

[5, 9]

In [29]:
import random
random.sample(range(1,11),9)

[6, 3, 10, 2, 8, 7, 4, 5, 9]

In [31]:
import random
random.sample(range(1,11),10) # 1~10 정수중 랜덤한 값 10개를 추출해 리스트로 반환

[8, 9, 1, 6, 3, 2, 10, 5, 7, 4]

In [36]:
import random
list = random.sample(range(1,11),10) 
print(list)
maxValue = list[0]
for ele in list :
    if ele > maxValue : 
        maxValue = ele 
print(maxValue)

[8, 9, 6, 2, 1, 5, 7, 3, 4, 10]
10

In [37]:
def getMax(list):
    maxValue = list[0]
    for ele in list :
        if ele > maxValue : 
            maxValue = ele 
    return maxValue

In [38]:
import random
list = random.sample(range(1,11),10) 
print(list)
maxValue = getMax(list)
print(maxValue)

[1, 10, 9, 5, 3, 8, 4, 6, 2, 7]
10

In [39]:
# 람다표현식
getMax = lambda list: 
    maxValue = list[0]
    for ele in list :
        if ele > maxValue : 
            maxValue = ele 
    return maxValue

SyntaxError: invalid syntax (3549257641.py, line 2)

In [ ]:
# 파이썬의 람다식에서는 지역변수를 사용불가능